
<div class="container-fluid">
    <h1 class="text-center">Youtubers List</h1>
    <input
    type="search"
    placeholder="Search channel name"
    class="form-control mt-5"
    [(ngModel)]="commonTerm" 
    style="width:auto">
  <div>




    <!-- infinite scroll -->
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
                          >
    <table class="table table-success table-hover table-striped">
      <thead class="bg-info">
        <tr>
        <!-- <th>S.no</th> -->
        <th>Channel name</th>
        <th>category</th>
        <th>country</th>
        <th>Price range</th>
        <th>Mail id</th>
        <th>Mobile</th>
        <th>Avg views</th>
        <th>Channel link</th>
        
      </tr>
      </thead>
      <tr *ngFor="let k of youtubersList | common:commonTerm">
        <!-- <td *ngFor="let l of index">{{l}}</td> -->
        <td>{{k.channelname}}</td>
        <td>{{k.category}}</td>
        <td>{{k.country}}</td>
        <td>{{k.price}}</td>
        <td>{{k.email}}</td>
        <td>{{k.mobile}}</td>
        <td>{{k.views}}</td>
        <td><a href="{{k.link}}" target="_blank">Visit channel</a></td>
      </tr>
    </table>
  </div> 
  </div>
  </div>